target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

Report/
.PdfReport
.SparkReport

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr


### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


.DS_Store
/.idea/shelf/Changes1.xml
/.idea/shelf/Changes2.xml
/.idea/shelf/Changes3.xml
/.idea/shelf/Changes4.xml
/.idea/shelf/Changes5.xml
/.idea/shelf/Changes6.xml
/.idea/shelf/Changes2/extent-report.pdf
/.idea/shelf/Uncommitted_changes_before_Checkout_at_03_09_2024_12_16_[Changes]/extent-report.pdf
/.idea/shelf/Uncommitted_changes_before_Checkout_at_03_09_2024_12_49_[Changes]/extent-report.pdf
/.idea/shelf/Uncommitted_changes_before_Checkout_at_03_09_2024_12_49_[Changes]1/extent-report.pdf
/.idea/shelf/Uncommitted_changes_before_Checkout_at_03_09_2024_12_51_[Changes]/extent-report.pdf
/.idea/shelf/Uncommitted_changes_before_Update_at_03_09_2024_12_50_[Changes]/extent-report.pdf
/.idea/shelf/Changes1/shelved.patch
/.idea/shelf/Changes2/shelved.patch
/.idea/shelf/Changes3/shelved.patch
/.idea/shelf/Changes4/shelved.patch
/.idea/shelf/Changes5/shelved.patch
/.idea/shelf/Changes6/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_03_09_2024_12_16_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_03_09_2024_12_21_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_03_09_2024_12_49_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_03_09_2024_12_49_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_03_09_2024_12_51_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_03_09_2024_12_50_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_31_08_2024_21_59_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_03_09_2024_12_16__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_03_09_2024_12_21__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_03_09_2024_12_49__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_03_09_2024_12_49__Changes_1.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_03_09_2024_12_51__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_03_09_2024_12_50__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_31_08_2024_21_59__Changes_.xml
